.home {
  display: flex;

  .homecontainer {
    background-color: white;
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listcontainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;
      border-radius: 10px;

      .listtitle {
        font-weight: 500;
        color: #555;
        margin-bottom: 15px;
      }
    }
  }
}
