.navbar {
  height: 50px;
  border-bottom: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #555;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
      border-radius: 5px;

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
            font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
    }

    .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        select {
            border: none;
            outline: none;
            background-color: transparent;
            border: 0.5px solid lightgray;
            border-radius: 5px;
            padding: 5px;
            font-size: 12px;
          }
        
          .icon {
            font-size: 20px;
          }

          .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }

          .counter {
            width: 15px;
            height: 15px;
            background-color: red;
            color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            top: -5px;
            right: -5px;
          }
    }
  }
}
