.sidebar {
  background-color: plum;
  border-right: 0.5px solid white;
  min-height: 100vh;
  flex: 1;

  hr {
    height: 0;
    border: 0.5px solid white;
  }

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50px;
      height: 50px;
      padding: 8px;
    }

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        color: white;

        &:hover {
            background-color: #ff7ecf;
            color: white;
            font-weight: 900;
        }

        .icon {
            font-size: 18px;
        }

        .span {
            font-size: 13px;
            font-weight: 600;
            margin-left: 10px;
            color: white;
        }
    }

    .title {
        color: white;
        font-size: 12px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .icon {
        background-color: white;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    color:white;
    
    .coloroption {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 2px solid #ff7ecf;
        cursor: pointer;
        margin: 5px;

        &:nth-child(1) {
            background-color: white;
        }

        &:nth-child(2) {
            background-color: #3e0027;
        }
    }
  }
}
